
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#333333;
    background-color: #faffff;
    background-image: url(images/noise\ layer.jpg);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
 }

 header > .images {
    border:5px;
     solid: #ffffff; 
     padding:5px; 
     margin:5px;
 }

 h1, h3 {
    color:darkcyan;
 }

p {
    color: #333333;
    font-size: 18px;
    line-height: 25px;
}

h1 {
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 4px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: #333333;
    font-size: 30px;
}

h3 {
    font-size: 28px;
    background-color: #c8dfde;
    line-height: 200px;
   
}

.logo {
    text-align: center;
    background-color: #ffffff;
    padding-bottom: 20px;
}

p {
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
}